rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
  	match /{all=**} {
    	allow list: if request.auth != null;
    }
    match /{type}/{resourceID} {
   		function isSubscribedToType ()
  		{
        let document = firestore.get(/databases/(default)/documents/subscriptions/$(request.auth.token.email));
        let subscriptions = document.data.subs;
	    	return subscriptions[type] != null;
	  	}
      allow read: if isSubscribedToType();
    }
  }
}
