h1 {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;

  color: #ddd;
  font-weight: bold;
  font-size: 1.5em;

  border-bottom: 1px solid #ccc;
}

h2 {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;

  /* font-weight: bold; */
  font-size: 1.2em;
}
