[hidden] {
  display: none !important;
}

.subscription-item-name {
  margin: 0 1em;
  padding: 0 1em;

  font-weight: bold;
  line-height: 2em;
  text-align: center;

  border-bottom: 1px solid #ccc;
}
