#subscriptions {

  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;

  list-style: none;
}

#subscriptions > li {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  justify-content: center;

  border-bottom: 1px solid #555;
}
